<h2 class="animated fadeIn">Busqueda de: {{termino}}</h2>
<hr>
<div *ngIf="heroes.length==0" class="alert alert-primary" role="alert">
  No se encontraron resultados ...
</div>
<div class="card-columns">
  <div class="card animated fadeIn" *ngFor="let heroe of heroes;let i = index">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

    <!--  creando la misma funcionalidad del a que tiene el routerLink
          pero esta vez con un poco de programacion-->

     <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block" name="button">
        Mas ...
      </button>
      <!-- Creando rutas con parametros  -->
    <!--  <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">
        Mas ...
      </a>-->
    </div>

  </div>

</div>
